// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;

html {
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: mat.$azure-palette,
      ),
      typography: Archivo,
      density: 0,
    )
  );
} /* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background-color: #f2f8f9;
}
body {
  font-family: Archivo, Roboto, "Helvetica Neue", sans-serif;
}
.logo-icon {
  height: 2em;
  margin-right: 10px;
}

// debugging styling
.hazard-border {
  border: 0.6em solid pink;
  border-image: repeating-linear-gradient(
      -55deg,
      #000,
      #000 20px,
      #ffb101 20px,
      #ffb101 40px
    )
    10;
}

.descriptive-text {
  color: #666d80;
}
