<h1 [innerText]="cs.all_texts.register.title1"></h1>
<p class="descriptive-text" [innerText]="cs.all_texts.register.description"></p>
<br />
@if (errorMessage) {
<div class="mat-error">{{ errorMessage }}</div>
}
<form
  class="flex-down flex-vertical-center form-controls-cls flex-rg-s-1"
  [formGroup]="registerForm"
  (ngSubmit)="onSubmit()"
>
  <mat-form-field>
    <mat-label [innerText]="cs.all_texts.register.email_lbl"></mat-label>
    <input
      matInput
      type="text"
      formControlName="email"
      [placeholder]="cs.all_texts.register.email_plchldr"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label [innerText]="cs.all_texts.register.password_lbl"></mat-label>
    <input
      matInput
      type="password"
      formControlName="password"
      [placeholder]="cs.all_texts.register.password_plchldr"
    />
  </mat-form-field>
  <button
    mat-flat-button
    type="submit"
    [innerText]="cs.all_texts.register.signup_btn_lbl"
  ></button>
  <div class="mg-t-l-1 mg-b-l-1 in-hr-text">
    <span>&nbsp;{{ cs.all_texts.register.or_hr }}&nbsp;</span>
  </div>
  <button mat-raised-button (click)="onGoogleRegister()">
    <img
      mat-icon-button
      class="logo-icon"
      src="google-logo.png"
      alt="Google Logo"
    />
  </button>
  <p>
    {{ cs.all_texts.register.alreadyRegistered }}&nbsp;<a
      [routerLink]="[ROOT_ROUTE, LOGIN_ROUTE]"
      >{{ cs.all_texts.register.loginHref }}</a
    >
  </p>
</form>
